{#
 |------------------------------------------------------------------------------
 | Header template
 |------------------------------------------------------------------------------
#}

<div id="search-modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-container">
            <div class="uk-padding-large uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport>
                <h2>{{ 'Search this website'|t }}</h2>
                {% set searchResultPage = craft.entries.section('search').one() ?? null %}
                <form action="{{ searchResultPage.url }}" class="uk-inline">
                    <button type="submit" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></button>
                    <input class="uk-input uk-form-large uk-form-width-large" type="search" name="q" placeholder="{{ 'Search'|t }}">
                </form>
            </div>
        </div>
    </div>
</div>

<div id="menu-offcanvas" uk-offcanvas="mode: push">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-primary uk-nav-default">
            {% for link in navigation.primaryNavigation.all() %}
                <li>{{ link.linkItem.getLink() }}</li>
            {% endfor %}
            <li>
                {#
                {% if currentUser %}
                    <a href="/admin">{{ "My Dashboard"|t }}</a>
                {% else %}
                    <a href="/admin">{{ "Journalism Login"|t }}</a>
                {% endif %}
                #}
            </li>
            <li>
                <a href="#">{{ "Members Area"|t }}</a>
            </li>
        </ul>
    </div>
</div>

<div id="menu-modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-container">
            <div class="uk-padding-large uk-flex uk-flex-column uk-flex-center uk-flex-middle" uk-height-viewport>
                <h2>{{ 'Menu'|t }}</h2>
                <ul class="uk-list uk-text-center">
                    {% for link in navigation.primaryNavigation.all() %}
                        <li>{{ link.linkItem.getLink() }}</li>
                    {% endfor %}
                    <li>
                        <a href="{{ url('grants') }}">LJI Grant Application</a>
                        {#
                        {% if currentUser %}
                            <a href="/admin">{{ "My Dashboard"|t }}</a>
                        {% else %}
                            <a href="/admin">{{ "Journalism Login"|t }}</a>
                        {% endif %}
                        #}
                    </li>
                    <li>
                        <a href="#">{{ "Members Area"|t }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="top-bar" class="uk-container uk-flex uk-flex-middle uk-visible@s">
    <ul class="list-inline">
        {# <li class="uk-margin-right">{% include '_partials/switcher.twig' %}</li> #}
        {% cache globally %}
            {% for link in companySettings.socialLinks %}
                <li class="uk-margin-right">
                    <a href="{{ link.url }}" target="_blank" uk-icon="icon: {{ link.icon }}"></a>
                </li>
            {% endfor %}
        {% endcache %}
    </ul>
    <ul class="list-inline uk-margin-auto-left">
        <li class="uk-margin-left">
            <a href="{{ url('grants') }}" class="uk-button uk-button-primary uk-button-small">LJI Grant Application</a>
            {#
            {% if currentUser %}
                <a href="/admin" class="uk-button uk-button-primary uk-button-small">{{ "My Dashboard"|t }}</a>
            {% else %}
                <a href="/admin" class="uk-button uk-button-primary uk-button-small">{{ "Journalism Login"|t }}</a>
            {% endif %}
            #}
        </li>
        <li class="uk-margin-left">
            <a href="#" class="uk-button uk-button-primary uk-button-small">{{ "Members Area"|t }}</a>
        </li>
    </ul>
</div>

<header id="page-header" class="uk-cover-container uk-light">
    <img src="/dist/img/hero-background.jpg" uk-cover>
    <div class="uk-container uk-position-relative">
        <nav class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo uk-padding-remove-left" href="{{ siteUrl }}" aria-expanded="false">
                    <img src="/dist/img/qcna-logo-navbar.png" alt="QCNA">
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    {% for link in navigation.primaryNavigation.all() %}
                        <li>{{ link.linkItem.getLink() }}</li>
                    {% endfor %}
                </ul>
                <div class="uk-navbar-item uk-hidden@m">
                    <a class="uk-icon-button uk-icon" href="#menu-offcanvas" uk-icon="icon: menu; ratio: 1.5" title="{{ 'Menu'|t }}" uk-toggle></a>
                 </div>
                <div class="uk-navbar-item">
                    <a class="uk-icon-button uk-icon" href="#search-modal" uk-icon="icon: search; ratio: 1.5" title="{{ 'Search this website'|t }}" uk-toggle></a>
                </div>
            </div>
        </nav>

        {% if isHomePage %}
            <div class="header-homepage uk-flex uk-flex-column uk-flex-center" uk-height-viewport="offset-top: true">
                <div uk-slider="autoplay: true">
                    <div class="uk-position-relative">
                        <div class="uk-slider-container uk-light">
                            <ul class="uk-slider-items uk-child-width-1-1">
                                {% for slide in entry.slider.all() %}
                                    <li class="slider-item">
                                        <h1>{{ slide.slideTitle }}</h1>
                                        {% if slide.slideMicroCopy|length %}
                                            <p>{{ slide.slideMicroCopy }}</p>
                                        {% endif %}
                                        {% if slide.slideButton|length %}
                                            {{ slide.slideButton.getLink({
                                                class: 'uk-button uk-button-default uk-button-large button-rounded',
                                            }) }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="uk-visible@l">
                            <a class="uk-position-center-left-out uk-slidenav-large uk-position-large" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right-out uk-slidenav-large uk-position-large" href="#" uk-slidenav-next uk-slider-item="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        {% elseif isErrorPage %}
            <div class="header-inner uk-text-center uk-padding-large">
                <div class="uk-width-1-1">
                    <h1>{{ errorPageTitle }}</h1>
                </div>
            </div>
        {% else %}
            <div class="header-inner uk-text-center uk-padding-large">
                <div class="uk-width-1-1">
                    <h1>{{ entry.hero.heroTitle ?? 'Undefined content'|t }}</h1>
                    {% if entry.hero.heroContent|length %}
                        <p>{{ entry.hero.heroContent }}</p>
                    {% endif %}
                    {% if entry.hero|length %}
                        {{ entry.hero.heroButton.getLink({
                            class: 'uk-button uk-button-default uk-button-large button-rounded',
                        }) }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</header>