{% if currentUser %}
  <!DOCTYPE html>
<html>
  <head>
    <title>Training Application Form</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
      html, body {
      min-height: 100%;
      }
      .imageContainer {
       width:200px; 
       height:200px; 
       background-image: '';
      }
      body, div, form, input, select, p, textarea { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      -webkit-appearance: none;
      }
      h1 {
      position: absolute;
      margin: 0;
      font-size: 32px;
      color: #fff;
      z-index: 2;
      }
      h2 {
      font-weight: 400;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 20px 0 #095484; 
      }
      .banner {
      position: relative;
      height: 210px;
      background-image: url("/dist/img/about-background.jpg");  
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4); 
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input, select {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      select {
      width: 100%;
      padding: 7px 0;
      background: transparent;
      }
      .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder, a {
      color: #095484;
      }
      .item input:hover, .item select:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #095484;
      color: #095484;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      input[type="date"]::-webkit-inner-spin-button {
      display: none;
      }
      .item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #a9a9a9;
      }
      .item i {
      right: 2%;
      top: 30px;
      z-index: 1;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
      right: 1%;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
      }
      input[type=checkbox]  {
      display: none;
      }
      label.check {
      position: relative;
      display: inline-block;
      margin: 5px 20px 10px 0;
      cursor: pointer;
      }
      .question span {
      margin-left: 30px;
      }
      span.required {
      margin-left: 0;
      color: red;
      }
      label.check:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid #095484;
      }
      input[type=checkbox]:checked + .check:before {
      background: #095484;
      }
      label.check:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 4px;
      width: 8px;
      height: 4px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=checkbox]:checked + label:after {
      opacity: 1;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: #0666a3;
      }
      @media (min-width: 568px) {
      .name-item, .city-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .name-item input, .city-item input {
      width: calc(50% - 20px);
      }
      .city-item select {
      width: calc(50% - 8px);
      }
      }
    </style>
  </head>
  <body>
        <nav class="navbar navbar-dark bg-primary">
          <div class="text-left"><a href="{{ siteUrl }}" ><img src="/dist/img/qcna-logo-navbar.png" alt="QCNA"></a></div>
        </nav>
      <div class="banner">
          <h1>Monthly Reporting Form</h1>
        </div>  
         
        
 
      <form method="post" action="" accept-charset="UTF-8">
          {{ csrfInput() }}
          <input type="hidden" name="action" value="contact-form/send">
           {{ redirectInput('thanks') }}
        {# <div class="banner">
          <h1>Monthly Reporting Form</h1>
        </div> #}

        {% macro errorList(errors) %}
        {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endmacro %}
        {% from _self import errorList %}
<div class="jumbotron">
        <h2>Newspaper general information</h2>
        <div class="item">
          <p>Name</p>
          <div class="name-item">
            <input type="text" id="from-name" name="message[FirstName]" placeholder="First"/>
            
            <input type="text" name="message[LastName]" placeholder="Last"/>
          </div>
        </div>
        <div class="item">
          <p>Website</p>
          <input type="text" name="message[website]"/>
        </div>
        <div class="item">
          <p>Full Address</p>
          <input type="text" name="message[fulladdress]"/>
        </div>
        <div class="item">
          <p>Mailing Address (if different from primary address)</p>
          <input type="text" name="message[MailingAddress]"/>
        </div>
</div>        
        {# <div class="item">
          <p>Company name</p>
          <input type="text" name="name"/>
        </div>
        <div class="item">
          <p>Address</p>
          <input type="text" name="name" placeholder="Street address" />
          <input type="text" name="name" placeholder="Street address line 2" />
          <div class="city-item">
            <input type="text" name="name" placeholder="City" />
            <input type="text" name="name" placeholder="Region" />
            <input type="text" name="name" placeholder="Postal / Zip code" />
            <select>
              <option value="">Country</option>
              <option value="1">Russia</option>
              <option value="2">Germany</option>
              <option value="3">France</option>
              <option value="4">Armenia</option>
              <option value="5">USA</option>
            </select>
          </div>
        </div> #}
<div class="jumbotron">
        <h2>Contact Information</h2>
        <div class="item">
          <p>Name of primary contact</p>
          <input type="text" name="message[NameOfPrimaryContact]"/>
        </div>
        <div class="item">
          <p>Title of primary contact</p>
          <input type="text" name="message[TitleOfPrimaryContact]"/>
        </div>
        <div class="item">
          <p>Contact</p>
          <div class="name-item">
            <input type="text" name="message[Phone]" placeholder="Phone"/>
            <input type="text" name="message[Fax]" placeholder="Fax"/>
          </div>
        </div>
        <div class="item">
          <p>E-mail</p>
          <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}"/>
           {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        </div>
        <div class="question">
          <p>Preffered mode of communication:</p>
          <div class="question-answer checkbox-item">
            <div>
              <input type="checkbox" value="email" id="email" name="message[PrefferedModeOfCommunication][]" value="Email"/>
              <label for="email" class="check"><span>E-Mail</span></label>
            <input type="checkbox" value="email" id="phone" name="message[PrefferedModeOfCommunication][]" value="Phone"/>
              <label for="phone" class="check"><span>Phone</span></label>
            </div>
          </div>
        </div>
</div>
<div class="jumbotron">
        <h2>Project Reporting</h2>

         <h3>A. News Articles</h3>
        <div class="item">
          <p>Number and titles of regular news articles</p>
          <textarea style="width:100%" name="message[NewsArticles]" placeholder="Please provide the number and titles of regular news articles produced during the month for the LJI program."/></textarea>
        </div>
        <div class="item">
          <p>Number and titles for in-depth news articles</p>
          <textarea style="width:100%" name="message[IndepthArticles]" placeholder="Please provide the number and titles of in-depth news articles produced during the month for the LJI program."/></textarea>
        </div>
        <h3>B. Demographics</h3>
        <div class="item">
          <p>Detailed descriptions of the demographics covered</p>
          <textarea style="width:100%" name="message[Demographics]" placeholder="Please provide a detailed description of the demographics covered during the month for this program."/></textarea>
        </div>
        <div class="item">
          <p>Communities and Regions</p>
          <textarea style="width:100%" name="message[Communities]" placeholder="Mention all the names and description of communities and regions covered this month for LJI."/></textarea>
        </div>
        <h3>C. Civic institutions and Civic Issues</h3>
        <div class="item">
          <p>Civic Institutions</p>
          <textarea style="width:100%" name="message[CivicInstitutions]" placeholder="Please name all the civic institutions covered for this program. If your organization has not covered any civic institutions during this month, we would like to know if you are planning to do so in the future."/></textarea>
        </div>
        <div class="item">
          <p>Communities and Regions</p>
          <textarea style="width:100%" style="width:100%" name="message[CommunitiesRegions]" placeholder="Please name and provide a brief description of all the civic issues covered for this program. If your organization has not covered any civic issues  during this month, we would like to know if you are planning to do so in the future."/></textarea>
        </div>
        <h3>D. Objectives</h3>
        <div class="item">
          <p>Objectives</p>
          <textarea style="width:100%" name="message[Objectives]" placeholder="What are the objectives achieved so far by this project ?"/></textarea>
        </div>
</div>


        <div class="btn-block">
          <button type="submit" value="Send">Send</button>
        </div>
      </form>
 
	 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
{% else %}
  {% exit 403 %}
{% endif %}