{#
 |------------------------------------------------------------------------------
 | Category
 |------------------------------------------------------------------------------
#}
{% extends '_layouts/default' %}
{% block page %}
    {% block header %}
        {% include '_partials/header' with {
            isHomePage: false,
            isErrorPage: false
        } %}
    {% endblock %}
    {% block main %}
        <div class="uk-container">
            <div class="uk-margin-large-top uk-margin-large-bottom">
                <div class="default-rte">
                    {{ category.body }}
                </div>
            </div>
            {% set newsListing = craft.entries.section('newsListing').one() %}
            <ul class="uk-breadcrumb">
                <li><a href="{{ siteUrl }}">{{ 'Home'|t }}</a></li>
                <li><a href="{{ newsListing.url }}">{{ newsListing.title }}</a></li>
                <li>{{ category.title }}</li>
            </ul>
            {% set news = craft.entries.section('news').relatedTo(category).all() %}
            {% if news|length %}
                <section class="uk-margin-large-bottom">
                    <div class="uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-match" uk-grid>
                        {% for article in news %}
                            {% include "_partials/newsCard" %}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        </div>
    {% endblock %}
    {% block footer %}
        {% include "_partials/footer" %}
    {% endblock %}
{% endblock %}