{#
 |------------------------------------------------------------------------------
 | News Listing
 |------------------------------------------------------------------------------
#}

{% extends '_entries/default' %}

{% block main %}
    <div class="uk-container">
        <div class="uk-margin-large-top uk-margin-large-bottom">
            <div class="default-rte">
                {{ entry.body }}
            </div>
        </div>

        {% set category = craft.categories.slug('lji') %}
        {% set ljiNews = craft.entries.section('news').relatedTo(category).limit(8).all() %}
        {% if ljiNews|length %}
            <section class="uk-margin-large-bottom">
                <h2 class="branded-title">{{ entry.newsLjiTitle ?? 'LJI News'|t }}</h2>
                <div class="uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-match" uk-grid>
                    {% for article in ljiNews %}
                        {% include "_partials/newsCard" %}
                    {% endfor %}
                </div>
                <p class="uk-margin-large-top uk-text-center">
                    <a href="{{ craft.categories.slug('lji').one().url }}" class="uk-button uk-button-default button-rounded button-colored">{{ 'More news'|t }}</a>
                </p>
            </section>
        {% endif %}

        {% set category = craft.categories.slug('qcna') %}
        {% set qcnaNews = craft.entries.section('news').relatedTo(category).limit(8).all() %}
        {% if qcnaNews|length %}
            <section class="uk-margin-large-bottom">
                <h2 class="branded-title">{{ entry.newsQcnaTitle ?? 'QCNA News'|t }}</h2>
                <div class="uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-match" uk-grid>
                    {% for article in qcnaNews %}
                        {% include "_partials/newsCard" %}
                    {% endfor %}
                </div>
                <p class="uk-margin-large-top uk-text-center">
                    <a href="{{ craft.categories.slug('qcna').one().url }}" class="uk-button uk-button-default button-rounded button-colored">{{ 'More news'|t }}</a>
                </p>
            </section>
        {% endif %}

        <section class="uk-margin-large-bottom">
            <h2 class="branded-title">{{ entry.newsCanadaLocalTitle ?? 'Canada Local News'|t  }}</h2>
            <div id="news-container" class="uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-2@s" uk-height-match="target: > div > .uk-card > .uk-card-body" uk-grid>
            {% set canadaLocalNews = craft.entries.section('canadaLocal').limit(4).all() %}
                {% for item in canadaLocalNews %}
                    <div>
                        <article class="uk-card uk-card-default uk-card-hover uk-card-small uk-background-muted">
                            <div class="uk-card-media-top">
                                <a href="{{ item.sourceUrl }}" target="_blank">
                                    <img src="{{ item.imageUrl }}" alt="{{ item.title }}" class="canada-local-image">
                                </a>
                            </div>
                            <div class="uk-card-body">
                                <p class="uk-text-meta uk-margin-remove">
                                    {% if currentSite.language|slice(0,2) == 'fr' %}
                                        <span uk-icon="icon: calendar"></span> <time datetime="{{ item.postDate|date('d F Y') }}">{{ item.postDate|date('d F Y') }}</time>
                                    {% else %}
                                        <span uk-icon="icon: calendar"></span> <time datetime="{{ item.postDate|date('F d, Y') }}">{{ item.postDate|date('F d, Y') }}</time>
                                    {% endif %}
                                </p>
                                <h5 class="uk-card-title">
                                    <a class="uk-link-heading" href="{{ item.sourceUrl }}" target="_blank">{{ item.title }}</a>
                                </h5>
                                <p>{{ item.newsSummary }}</p>
                            </div>
                            <div class="uk-card-footer">
                                <a href="{{ item.sourceUrl }}" class="uk-button uk-button-text" target="_blank">{{ 'Read more'|t }}</a>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
            <p class="uk-margin-large-top uk-text-center">
                <a href="https://qcna.canadalocal.media/" class="uk-button uk-button-default button-rounded button-colored" target="_blank">{{ 'More news'|t }}</a>
            </p>
        </section>
    </div>

    {% include '_partials/callToAction' %}
{% endblock %}