{#
 |------------------------------------------------------------------------------
 | Articles
 |------------------------------------------------------------------------------
#}

{% extends '_entries/default' %}

{% block main %}
    <div class="uk-section uk-section-muted">
        <div class="uk-container">
            <div class="uk-child-width-1-2@s" uk-grid>
                <div class="contact-form-container">

                    <h3 class="contact-heading">{{ 'Keep in touch with us'|t }}</h3>

                    {% set form = craft.expressforms.form("contact") %}
                    {# Macro for Field Errors #}
                    {% macro renderErrors(field) %}
                        {% if field.hasErrors and field.errors|length %}
                            <ul class="uk-list uk-text-danger">
                                {% for error in field.errors %}
                                    <li>{{ error|t }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endmacro %}
                    {% import _self as forms %}

                    {# Flash Success #}
                    {% if form.submittedSuccessfully %}
                        <div class="uk-alert-success" uk-alert role="alert">
                            {{ "Form has been submitted successfully!"|t }}
                        </div>
                    {% endif %}

                    {# General Error Handling #}
                    {% if not form.valid %}
                        <div class="uk-alert-danger" uk-alert role="alert">
                            {{ "Error! Please review the form and try submitting again."|t }}
                            {% if form.errors|length %}
                                <ul>
                                    {% for error in form.errors %}
                                        <li>{{ error|t }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}

                    {# Automatically set Form tags with Return, CSRF and Honeypot (if enabled) #}
                    {{ form.openTag({ return: '?success=1' }) }}

                    {# Automation of Field Rendering #}
                    {% for field in form.fields %}

                        {% if field.type == "hidden" %}

                            <input id="{{ field.handle }}" type="hidden" name="{{ field.handle }}" value="{{ field.value }}">

                        {% elseif field.type == "textarea" %}

                            <div class="uk-margin {{ field.hasErrors ? ' has-error' }}">
                                <label for="{{ field.handle }}"{{ field.isRequired ? ' class="required"' }}>
                                    {{ field.label }}
                                </label>
                                <textarea name="{{ field.handle }}" id="{{ field.handle }}" rows="5" class="uk-textarea uk-form-large" placeholder="{{ field.label }}">
                                {{- field.value -}}
                            </textarea>
                                {{ forms.renderErrors(field) }}
                            </div>

                        {% elseif field.type == "file" %}

                            <div class="uk-margin {{ field.hasErrors ? ' has-error' }}">
                                <label for="{{ field.handle }}"{{ field.isRequired ? ' class="required"' }}>
                                    {{ field.label }}
                                </label>
                                <div class="alert alert-warning" role="alert">
                                    This field won't currently work unless setup correctly in the Express Forms form builder.
                                </div>
                                <div class="custom-file">
                                    <input type="file" multiple name="{{ field.handle }}[]" id="{{ field.handle }}" class="custom-file-input">
                                    <label for="{{ field.handle }}" class="custom-file-label">
                                        {{ "Choose file"|t }}
                                    </label>
                                </div>
                                {{ forms.renderErrors(field) }}
                            </div>

                        {% elseif field.type == "checkbox" %}

                            <div class="uk-margin  form-check{{ field.hasErrors ? ' has-error' }}">
                                <label class="form-check-label{{ field.isRequired ? ' required' }}">
                                    <input type="checkbox" name="{{ field.handle }}" value="1"{{ "1" in field.value ? " checked" }} class="uk-checkbox">
                                    {{ field.label }}
                                </label>
                                {{ forms.renderErrors(field) }}
                            </div>

                        {# If Options field type, handle manually #}
                        {% elseif field.type == "options" %}

                            {% if field.handle == "howHeard" %}

                                <div class="uk-margin {{ field.hasErrors ? ' has-error' }}">
                                    <label for="{{ field.handle }}"{{ field.isRequired ? ' class="required"' }}>
                                        {{ field.label }}
                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label" for="how-heard-newspaper">
                                            <input type="checkbox" class="form-check-input"
                                                name="howHeard[]" id="how-heard-newspaper"
                                                value="newspaper"{{ "newspaper" in field.value ? " checked" }}
                                            />
                                            Newspaper
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="how-heard-radio">
                                            <input type="checkbox" class="uk-checkbox"
                                                name="howHeard[]" id="how-heard-radio"
                                                value="radio"{{ "radio" in field.value ? " checked" }}
                                            />
                                            Radio
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="how-heard-friend">
                                            <input type="checkbox" class="form-check-input"
                                                name="howHeard[]" id="how-heard-friend"
                                                value="friend"{{ "friend" in field.value ? " checked" }}
                                            />
                                            Friend
                                        </label>
                                    </div>
                                    {{ forms.renderErrors(field) }}
                                </div>
                            {% endif %}

                        {# Handle all other simple text fields #}
                        {% else %}
                            <div class="uk-margin {{ field.hasErrors ? ' has-error' }}">
                                <label for="{{ field.handle }}"{{ field.isRequired ? ' class="required"' }}>
                                    {{ field.label }}
                                </label>
                                <input type="{{ field.type }}" name="{{ field.handle }}" id="{{ field.handle }}" value="{{ field.value }}" class="uk-input uk-form-large" placeholder=" {{ field.label }}">
                                {{ forms.renderErrors(field) }}
                            </div>
                        {% endif %}

                    {% endfor %}

                    <div class="uk-margin {% if form.recaptcha.hasErrors %} has-error{% endif %}">
                        <label class="required">
                            {{ "Please confirm you're not a robot..."|t }}
                        </label>
                        {{ form.recaptcha.render }}
                        {{ forms.renderErrors(form.recaptcha) }}
                    </div>

                    <button type="submit" class="uk-button uk-button-default button-rounded button-colored">{{ 'Send'|t }}</button>

                    {{ form.closeTag }}
                </div>
                <div>
                    <div class="contact-info">
                        <h3 class="contact-heading">{{ 'Contact Details'|t }}</h3>
                        {{ entry.body }}
                        <div uk-grid>
                            <div><span uk-icon="icon: location"></span></div>
                            <div>400 Maloney E, Suite 205 <br>Gatineau, QC - J8P 1E6</div>
                        </div>
                        <div class="uk-margin-small-top" uk-grid>
                            <div><span uk-icon="icon: receiver"></span></div>
                            <div>(819) 893-6330</div>
                        </div>
      
                        <div class="uk-margin-small-top" uk-grid>
                            <div><span uk-icon="icon: mail"></span></div>
                            <div>info@qcna.qc.ca</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/dist/img/map.jpg" alt="" class="uk-visible@m">
{% endblock %}
